<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-5 py-md-4 py-2">
        <div class="row stats-con">
            <div class="col-md-3 col-6 stats_info counter_grid">
                <p class="counter">5012</p>
                <span class="plus">+</span><br>
                <h3>Sattığımız Evler</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid1">
                <p class="counter">256</p>
                <span class="plus">+</span><br>
                <h3>Kiraladığımız Evler</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid mt-md-0 mt-4">
                <p class="counter">1300</p>
                <span class="plus">+</span><br>
                <h3>Mevcut Ev</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                <p class="counter">145 </p>
                <span class="plus">k</span><br>
                <h3>Memnun Müşteriler</h3>
            </div>
        </div>
    </div>
</section>
