<div class="w3l-agentsblock py-5" id="team">
    <div class="container py-lg-5 py-md-4 py-2">
        <h6 class="title-small text-center">Our team</h6>
        <h3 class="title-big text-center mb-lg-5 mb-4">Meet our Agents</h3>
        <!-- block -->
        <div class="row">
            <div class="col-lg-3 col-sm-6 column-item">
                <div class="users_box">
                    <div class="user-avatar">
                        <a href="#agent-single" class="avatar">
                            <img src="~/starter/assets/images/team1.jpg" alt="" class="img-fluid w-100 radius-image">
                        </a>
                    </div>
                    <div class="users_box_info">
                        <p class="user_position">Selling Agent</p>
                        <h4 class="user_title agent">
                            <a href="#agent-single">Laura Antiochus</a>
                        </h4>
                        <div class="user_meta user_phone">
                            <span class="phone-detail"> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></span>
                        </div>
                        <a href="#agent-single" class="btn btn-outline-primary btn-style mt-4">
                            View Profile
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 column-item mt-sm-0 mt-5">
                <div class="users_box">
                    <div class="user-avatar">
                        <a href="#agent-single" class="avatar">
                            <img src="~/starter/assets/images/team2.jpg" alt="" class="img-fluid w-100 radius-image">
                        </a>
                    </div>
                    <div class="users_box_info">
                        <p class="user_position">Selling Agent</p>
                        <h4 class="user_title agent">
                            <a href="#agent-single">Laura Antiochus</a>
                        </h4>
                        <div class="user_meta user_phone">
                            <span class="phone-detail"> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></span>
                        </div>

                        <a href="#agent-single" class="btn btn-outline-primary btn-style mt-4">
                            View Profile
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 column-item mt-lg-0 mt-5">
                <div class="users_box">
                    <div class="user-avatar">
                        <a href="#agent-single" class="avatar">
                            <img src="~/starter/assets/images/team3.jpg" alt="" class="img-fluid w-100 radius-image">
                        </a>
                    </div>
                    <div class="users_box_info">
                        <p class="user_position">Selling Agent</p>
                        <h4 class="user_title agent">
                            <a href="#agent-single">Laura Antiochus</a>
                        </h4>
                        <div class="user_meta user_phone">
                            <span class="phone-detail"> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></span>
                        </div>
                        <a href="#agent-single" class="btn btn-outline-primary btn-style mt-4">
                            View Profile
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 column-item mt-lg-0 mt-5">
                <div class="users_box">
                    <div class="user-avatar">
                        <a href="#agent-single" class="avatar">
                            <img src="~/starter/assets/images/team4.jpg" alt="" class="img-fluid w-100 radius-image">
                        </a>
                    </div>
                    <div class="users_box_info">
                        <p class="user_position">Selling Agent</p>
                        <h4 class="user_title agent">
                            <a href="#agent-single">Laura Antiochus</a>
                        </h4>
                        <div class="user_meta user_phone">
                            <span class="phone-detail"> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></span>
                        </div>

                        <a href="#agent-single" class="btn btn-outline-primary btn-style mt-4">
                            View Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>