

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>

<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Default/Index">Anasayfa</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Hakkımızda</li>
        </ul>
    </div>
</section>

<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">

            <div class="row">
                <div class="col-lg-5 pr-lg-0">
                    <div class="w3l-left-img2">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-0">
                    <div class="w3l-right-info">
                        <h6 class="title-small">Biz Kimiz</h6>
                        <h3 class="title-big">Uzun yıllara dayanan tecrübemiz</h3>
                        <h5 class="mt-4">Lorem ipsum viverra feugiat dolor sit amet primis in faucibus orci. Lorem ipsum viverra feugiat dolor sit amet primis in faucibus orci. Lorem ipsum viverra feugiat dolor sit amet primis in faucibus orci.</h5>
                        <p class="mt-4">Lorem ipsum viverra feugiat dolor sit amet primis in faucibus orci. Lorem ipsum viverra feugiat dolor sit amet primis in faucibus orci. Lorem ipsum viverra feugiat dolor sit amet primis in faucibus orci.</p>
                        <a href="#small-dialog1" class="popup-with-zoom-anim play-view d-block mt-md-5 mt-4">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                            Hikayemizi Görün
                        </a>
                        <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/jqP3m3ElcxA" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grids-area-hny main-cont-wthree-fea row mt-5 pt-lg-5 pt-5">
                <div class="col-lg-4 col-md-6 grids-feature">
                    <div class="area-box">
                        <span class="fa fa-home"></span>
                        <h4><a href="#feature" class="title-head">Guidance you need</a></h4>
                        <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in.  Ut eu leo non. Duis sed et dolor amet.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-search-plus"></span>
                        <h4><a href="#feature" class="title-head">Search that feels familiar</a></h4>
                        <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et amet.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-dollar"></span>
                        <h4><a href="#feature" class="title-head">Premium values</a></h4>
                        <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et amet.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>